<section class="page">
  <div class="centered-box">
    <h1>Login</h1>

    <% if flash.now[:errors] %>
      <% flash.now[:errors].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>

    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <label>
        <h3>Username</h3>
        <input type="text" name="user[user_name]">
      </label>
      <br>
      <label>
        <h3>Password</h3>
        <input type="password" name="user[password]">
      </label>
      <br>

      <input type="submit" value="Login">
    </form>
  </div>
</section>
